.asd{
    background-image: url(/Imagenes/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    img{
        margin-top: 10%;
        width: 100px;
        height: 100px;
    }
}