.asd {
  background-color: #000000;
  color: rgb(251, 249, 249);
  img {
    margin-top: 10%;
    width: 100px;
    height: 100px;
  }
  .credit-card_p,
  .personal-info-container,
  .fs-3 {
    background-color: rgba(255, 255, 255, 0.462);
    color: rgb(251, 249, 249);
    width: 300px;
    margin-top: 4%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px rgba(234, 4, 246, 0.245);
  }
  .creditp {
    &:hover {
      transform: translateY(-10%);
      color: rgb(117, 0, 94);
      cursor: pointer;
    }
  }
}


.coll{
  margin-bottom: 8%;
  border: 1px solid rgba(0, 0, 0, 0.352);
  padding: 2%;
  }
