

  
* {
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }
  


.carousel{
    margin-top: 5%;
}

footer{
    width: 100%;
    background-image: url(/Imagenes/footer.jpg);
    background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
    color: white;

    
   #contac {
       margin-left: -5%;
   }
  
}

.carousel-item{
    margin-left: 25%;
    width: 700px;
}



// PRODUCTOS
h2{
    margin-top: 10%;
  text-align: center;
  font-size: 60px;
}

h5{
    margin-bottom: 10%;
    text-align: center;
    span{
        color: rgb(30, 243, 30)
           font-size: 40px;
    }
}


.card{
    margin-top: 4%;
    margin-left: 28%;
    width: 50%;
    height: 70%;
    border-bottom: none;
    cursor: pointer;
    &:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-3%);
  }
  button{
      margin-left: 40%;
  }
  span{
      color: rgb(30, 243, 30);
  }
}



  
