main {
  section {
    img {
      width: 1520px;
      height: 560px;
    }
  }
  .img-promo-info {
    width: 520px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  main {
    section {
      img {
        width: 425px;
        height: 560px;
      }
    }
    .container {
      width: 425px;
    }
  }
}
