main {
  section {
    img {
        max-height: 80vh;
        width: 100%;

     
    }
  }
  .img-promo-info {
    width: 520px;
    height: 200px;
  }
}
.card{
    img{
        width: 420px;
        height: 400px;
        margin: auto;
    }
}

@media (max-width: 800px) {
  main {
    section {
      img {
        width: 425px;
        height: 560px;
      }
    }
    .container {
        
      width: 425px;
    }
  }
}
